.repeatableContentBlock
  .repeatable-block-header
  .repeatable-block-content-infos {
  background-color: #eee;
  padding: 1rem;
}

.repeatableContentBlock
  .repeatable-block-header
  .repeatable-block-content-infos.no-bg {
  background-color: transparent;
  padding: 1rem 0;
}

.repeatableContentBlock .repeatable-block-image.full-width {
  height: auto;
}
